h1 Add New Service

form(name="", method="post", action="/add_service_process")
	table
		tr
			td Name 
			td 
				input(type='text', name='name')
		tr
			td Trust Level
			td 
				input(type='text', name='trust_level')
		tr
			td
			td
				input(type='submit', name='submit', value='submit')
