html(lang="en")
	include header
	body
		include nav

		div(class="jumbotron text-center")
			div(class="container")
				h1 Service Monitor
				p Try out a service scenario!
		div(class="container")
			div(class="row")
				div(class="col-md-4")
					h2 Simple Proxy
					p s1 -> s2
					//img(src="images/p_s_1.png", style="display:inline-block;height:100px;max-width: 90%")
					p
						a(class="btn btn-primary", href="#", role="button") Launch
				div(class="col-md-4")
					h2 Service Chain
					p s1 -> s2 -> s3
					//img(src="images/p_s_2.png", style="display: inline-block;height:100px;max-width: 90%")
					p
						a(class="btn btn-primary", href="#", role="button") Launch
				div(class="col-md-4")
					h2 Service Facade
					p s1 -> s2, s1 -> s3
					//img(src="images/p_s_3.png", style="display: inline-block;height:100px;max-width: 90%")
					p
						a(class="btn btn-primary", href="#", role="button") Launch
