html(lang="en")
	include header
	body
		include nav

		div(class="container")
			div(class="panel panel-default text-center")
				h2 Service Interactions
			div(class="panel panel-default")
				div(class="panel-body")
					div(class="row")
						div(class="col-md-3")
							strong From
						div(class="col-md-3")
							strong To
						div(class="col-md-2")
							strong Duration (ms)
						div(class="col-md-4")
							strong Feedback
					for entry in entries
						div(class="row")
							div(class="col-md-3")=entry.from_service
							div(class="col-md-3")=entry.to_service
							div(class="col-md-2")=entry.duration
							div(class="col-md-4")
								pre=entry.feedback

