div(class="navbar navbar-inverse navbar-default-top", role="navigation")
	div(class="container")
		button(class="navbar-toggle", data-toggle="collapse", data-target=".navbar-collapse")
			span(class="icon-bar")
			span(class="icon-bar")
			span(class="icon-bar")
		div(class="navbar-header")
			a(class="navbar-brand" href="/") Service Monitor
		div(class="navbar-collapse collapse")
			ul(class="nav navbar-nav navbar-right")
				li(class="dropdown")
					a(href="#" class="dropdown-toggle" data-toggle="dropdown") Status
						b(class="caret")
					ul(class="dropdown-menu")
						li
							a(href="/interaction_list") Interaction List
						li
							a(href="/service_list") Service List
						li
							a(href="/hb_stats") Heart Beat Data
						li
							a(href="/trust_algo_list") Trust Management
				li
					a(href="https://code.google.com/p/end-to-end-soa/", target="_blank") Source Code