div(class="navbar navbar-inverse navbar-default-top", role="navigation")
	div(class="container")
		button(class="navbar-toggle", data-toggle="collapse", data-target=".navbar-collapse")
			span(class="icon-bar")
			span(class="icon-bar")
			span(class="icon-bar")
		div(class="navbar-header")
			a(class="navbar-brand" href="/")  Service Monitor
		div(class="navbar-collapse collapse")
			ul(class="nav navbar-nav navbar-right")
				li
					a(href="/interaction_list") Interaction List
				li
					a(href="/service_list") Service List
				li(class="dropdown")
					a(href="#" class="dropdown-toggle" data-toggle="dropdown") Passive Scenarios 
						b(class="caret")
					ul(class="dropdown-menu")
						li
							a(href="/scenario?s_id=1") Simple Proxy Service
						li
							a(href="/scenario?s_id=2") Service Chain
						li
							a(href="/scenario?s_id=3") Service Facade
				li
					a(href="https://code.google.com/p/end-to-end-soa/") Source Code