html(lang="en")
	include header
	link(rel="stylesheet", href="./css/service_list.css")
	script(src="./js/service_list.js")
	body
		include nav

		div(class="container")
			div(class="panel panel-default text-center")
				h2 Service List
			div(class="panel panel-default")
				div(class="panel-body")
					div(class="row")
						div(class="col-md-1")
							td ID
						div(class="col-md-2")
							td Service
						div(class="col-md-2")
							td Configuration
						div(class="col-md-2")
							td Trust Level
						div(class="col-md-2")
								td Status
						div(class="col-md-2")
							td Start/Stop
						div(class="col-md-1")
							td Stats
					for entry in entries
						div(class="row top-buffer")
							div(class="col-md-1")
								div=entry.id
							div(class="col-md-2")
								div=entry.display_name
							div(class="col-md-2")
								div
									a(href=('./service?id=' + entry.id))=entry.name
							div(class="col-md-2")
								div=entry.trust_level
							div(class="col-md-2")
									div(id=entry.id, class="svc_data")=entry.status
							div(class="col-md-2")
								div
									button(id="svc_" + entry.id, class="btn btn-success btn-sm") Start
							div(class="col-md-1")
									div
										a(href=('./hb_stats_service_view?service=' + entry.name)) Stats