html(lang="en")
	include header
	body
		include nav

		div(class="container")
			div(class="panel panel-default text-center")
				h2 Service List
			div(class="panel panel-default")
				div(class="panel-body")
					div(class="row")
						div(class="col-md-2")
							td Service
						div(class="col-md-2")
							td Configuration
						div(class="col-md-2")
							td Trust Level
					for entry in entries
						div(class="row")
							div(class="col-md-2")
								div=entry.display_name
							div(class="col-md-2")
								div
									a(href=('./service?id=' + entry.id))=entry.name
							div(class="col-md-2")
								div=entry.trust_level