#main {
	margin-top:85px;
	font-size: 80%;
	width:75%;
	margin-left:auto;
	margin-right: auto;
	height:600px;
	text-align: center;
	position: relative;
	max-width:852px;
}

.scenario_stats {
	padding-top: 10px;
	font-size:20px;
}

.svc_live {
	border:4px solid #04B404;
}

.svc_stopped {
	border:4px solid #000000;
}


.svc_failed {
	border:4px dashed #21610B;
}

.svc_under_attack {
	border:4px dotted #FF0000;
}

.svc_backup {
	border-style: dashed;
}

.svc_content {
	font-size:10px;
}

.svc_content_tl {
	font-size:11px;
	color:#0080FF;
}

.w {
	width: 200px;
	height: 150px;
	padding:10px;
	position:absolute;
	z-index:4;
	border-radius:1em;
	box-shadow: 2px 2px 19px #e0e0e0;
	-o-box-shadow: 2px 2px 19px #e0e0e0;
	-webkit-box-shadow: 2px 2px 19px #e0e0e0;
	-moz-box-shadow: 2px 2px 19px #e0e0e0;
	-moz-border-radius:8px;
	border-radius:8px;
	opacity:0.8;
	filter:alpha(opacity=80);
	cursor:move;
	background-color:white;
	font-size:15px;
	font-weight:bold;
	-webkit-transition:background-color 0.25s ease-in;
	-moz-transition:background-color 0.25s ease-in;
	transition:background-color 0.25s ease-in;
}

.w:hover {
	background-color: white;
	color:black;
	z-index:20;
	opacity:1;
}


.ep {
	position:absolute;
	bottom: 42%;
	right: -5px;
	width:1em;
	height:1em;
	background-color:orange;
	cursor:pointer;
	box-shadow: 0px 0px 2px black;
	-webkit-transition:-webkit-box-shadow 0.25s ease-in;
	-moz-transition:-moz-box-shadow 0.25s ease-in;
	transition:box-shadow 0.25s ease-in;
}

.ep:hover {
	box-shadow: 0px 0px 6px black;
}

.scenario-container {
	z-index:3;

}

.top-buffer { margin-top:20px; }

.slider {
    margin: 2px;
}
.ui-slider-horizontal {
    height: 15px;
    width: 125px;
}
.ui-slider .ui-slider-handle {
    height: 23px;
    width: 5px;
    padding-right: 10px;
}
